body {
    margin: 0%;
    background-color: lightgray;
}

h1 {
    display: inline;
    vertical-align:middle ;
}

#logo {
    vertical-align: middle;
}

.title {
  height: 80px;
  line-height: 80px;
  background-color: white;
  ;
}
.blu {
    background-color: #47adf1;
    border-color: white;;
    color: white;
    text-decoration: none;
    padding: 4px;
    border-radius: 20%;
}
.white {
    background-color: white;
    color: lightgray;
    text-decoration: none;
    padding: 4px;
}